@import "../card/card.component.less";

@border: 20px;
@width:  600px;
@height: 500px;

.game-rules {
  display: block;
  width: max-content;
  margin: auto;
  text-align: left;
  font-style: italic;
  ul {
    margin-top: 0;
  }
}

.messages {
  border:   1px solid black;
  text-align: left;
  max-width:  @width;
  margin:     auto;
  margin-top: @border;
}

.game-board {
  position:        relative;
  display:         flex;
  flex-direction:  column;
  justify-content: space-between;
  padding:         @border;
  border-radius:   @border;

  max-width:  @width;
  height:     @height;
  margin:     auto;

  background: green;

  .icon-reset {
    position: absolute;
    top:      @border;
    left:     @border;
    color:    lightblue;
    cursor:   pointer;
  }

  .card-slot {
    display: flex;
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    margin: auto;
    height: @card_size;
    width:  @card_size * @aspect_ratio;
    border: 2px solid black;
    border-radius: @border/2;
    padding:       @border/2;

  }
  .name {
    line-height: 2em;
  }

  .controls {
    position: relative;
    display: flex;
    justify-content: center;

    border-top: 1px solid black;
    padding:        @border;
    padding-bottom: @border/2;

    button {
      margin: auto;
      width: 7em;
      border-radius: @border/2;
    }

    .chips {
      position: absolute;
      top:   -@border*2;
      right: 0;
      padding: @border/2;
      text-align: right;
    }
  }
}
