// DOCS: https://fontawesome.com/how-to-use/on-the-web/setup/using-package-managers

@fortawesome:registry=https://npm.fontawesome.com/
npm.fontawesome.com/:_authToken=5E34E1A8-0D79-4BEC-B9EE-AB75A2699514
