<!--
src="/assets/cards/*" is defined in angular.json
projects.angular2-poker-probabilities.architect.build.options.assets = [{
  "glob": "**/*",
  "input": "./node_modules",
  "output": "./node_modules"
}]
-->
<ng-container *ngIf="faceDown">
  <img
    class='card'
    src="/node_modules/cardsJS/cards/Red_Back.svg"
    alt="Card"
  />
</ng-container>
<ng-container *ngIf="!faceDown">
  <img
    class='card'
    src="/node_modules/cardsJS/cards/{{this.symbol}}.svg"
    alt="{{ title }}"
    title="{{ title }}"
  />
</ng-container>

