<!-- TODO: figure out how to implement #/ based on HashLocationStrategy / PathLocationStrategy -->
<!-- TODO: ng-href="#/{{ link.url }}" causes angular blank page error -->
<nav class="app-menu">
  <ul>
    <ng-container *ngFor="let route of this.routes">
      <ng-container *ngIf="!route.data.hidden">
        <li>
          <!--suppress HtmlUnknownAnchorTarget -->
          <a href="#/{{ route.path }}">{{ route.data.title }}</a>
        </li>
      </ng-container>
    </ng-container>
  </ul>
</nav>
